h1, h2,h3 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
p,span,link,a {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}